<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid">
    <%- include('utils/header') %>
    <div class="container">
        <h1 class="text-center mt-5 text-uppercase">Thêm xe</h1>
        <form action="/" method="post"  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Tên xe</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Giá Xe</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" name="price">
            </div>

            <div class="mb-5">
                <label for="formFileLg" class="form-label">Tải file ảnh </label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="images" multiple>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">Thêm Xe</button>
                <a href="/list" class="btn btn-primary">Xem Danh Sách Xe</a>
            </div>

            <p class="mt-4 text-center text-danger fs-3 fw-bold"><%= message %></p>

        </form>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
